.container {
  padding: 0 35px;
}

.container h1 {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #4f5461;
  margin-bottom: 18px;
}

.container p {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #737986;
  margin-bottom: 37px;
}

.container a {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  background-color: #4456fb;
  border-radius: 60px;
  padding: 22px 0;
  text-decoration: none;
  display: block;
  max-width: 193px;
  margin-bottom: 41px;
}

.container article {
  background-color: #f5f8fd;
  border-radius: 10px;
  padding: 32px;
  margin-bottom: 18px;
}

.container article h2 {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  color: #4f5461;
  margin-bottom: 19px;
}

.container ul li {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  color: #737986;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 405px;
  }

  .container div {
    display: flex;
    justify-content: space-between;
  }

  .container article {
    width: 22%;
  }
}

@media (min-width: 1200px) {
  .container h1 {
    font-size: 32px;
  }

  .container p {
    font-size: 20px;
    line-height: 24px;
  }

  .container a {
    font-size: 20px;
    max-width: 220px;
  }

  .container article h2 {
    font-size: 26px;
  }

  .container ul li {
    font-size: 20px;
  }
}
