.container {
  padding: 36px 28px 60px 28px;
}

.container h1 {
  font-family: Sora, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 29px;
  color: #4f5461;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 405px;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .container h1 {
    font-size: 32px;
  }
}

@media (min-width: 1350px) {
  .container h1 {
    font-size: 35px;
  }
}

@media (min-width: 1550px) {
  .container h1 {
    font-size: 39px;
  }
}

@media (min-width: 1800px) {
  .container h1 {
    font-size: 44px;
  }
}

