.container {
  padding: 30px 0 0 0;
  position: relative;
  text-align: center;
}

.container img {
  width: 100%;
}

.container h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #b9b5b5;
  position: absolute;
  top: 47px;
  left: 19px;
}

.stacks {
  display: flex;
  justify-content: space-between;
  margin: 17px 0;
}

.stacks span {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #E6E9F0;
  background-color: #4F5461;
  border-radius: 40px;
  padding: 6px 10px;
  display: block;
}

.popup {
  background-color: #4456FB;
  border-radius: 60px;
  padding: 22px 0;
  width: 100%;
  max-width: 315px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}